<head>
    <style>
        body {background-image: linear-gradient(#a8ff78, #78ffd6); background-repeat: no-repeat; height: 100%;}
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;  margin: 0; position: absolute; left: 42%;}
    </style>
</head>
{%if user.is_authenticated%}
   <p>Welcome, {{user.username}}<br>
   <a href="{% url 'accounts:logout' %}">(Log Out)</a></p>
{%else%}
    <p>You are not logged in<br>
    <a href="{% url 'accounts:signup' %}">(Signup</a>
    OR
    <a href="{% url 'accounts:login' %}">Login)</a></p>
{%endif%}

<div>
        
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</div>
<p></p>
{% for journey_id,train_id,train_name,rem_ac_seats,rem_sleeper_seats,journey_date,source_station,dest_station in trains %}
Journey id : {{journey_id}} &emsp; Train name : {{train_name}} &emsp; AC Seats : {{rem_ac_seats}} &emsp; Sleeper Seats : {{rem_sleeper_seats}} &emsp; {{journey_date}} &emsp; {{source_station}} &emsp; {{dest_station}}
<form action="{% url 'bookings:passenger_details_form' journey_id=journey_id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Book">
</form>
{% endfor %}
