
{%if user.is_authenticated%}
   <p>LOGGED IN with username = {{user.username}}</p>
   <a href="{% url 'accounts:logout' %}">Log Out</a> &emsp;
   <a href="{% url 'bookings:my_tickets' %}">My Tickets</a>
{%else%}
    <p>You are not logged in</p>
    <a href="{% url 'accounts:signup' %}">Signup</a> &emsp;
    <a href="{% url 'accounts:login' %}">Login</a>
{%endif%}

<div>
        
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</div>
<p></p>
{% for journey_id,train_id,train_name,rem_ac_seats,rem_sleeper_seats,journey_date,source_station,dest_station in trains %}
Journey id : {{journey_id}} &emsp; Train name : {{train_name}} &emsp; AC Seats : {{rem_ac_seats}} &emsp; Sleeper Seats : {{rem_sleeper_seats}} &emsp; {{journey_date}} &emsp; {{source_station}} &emsp; {{dest_station}}
<form action="{% url 'bookings:passenger_details_form' journey_id=journey_id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Book">
</form>
{% endfor %}
